.CardImageBox {
    display: block;
    width: 100%;
    aspect-ratio: 16/9;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.CardBody {
    padding: 10px 15px;
    color: #111;
    background: #fff;
}
.ProjectCard {
    border: none;
    overflow: hidden;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    border-radius: 15px;
    width: 320px;
      .feature {
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 8px;
        color: #ffc000;
        font-size: 80%;
      }
    a:hover {
      text-decoration: none;
    }
}
.Category {
    position: absolute;
    bottom: 10px;
    left: 10px;
    padding: 4px 10px;
    color: #fff;
    font-size: .7rem;
    border-radius: 1em;
    background: linear-gradient(45deg, #2f80ed, #56ccf2);
}
.CardBody {
    color: #3d5170;
}
.Title {
    font-weight: 700;
    margin: 0 0 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;   // make sure line-height is exact
    height: 3em;        // 2x line-heigt
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    color: darken(#3d5170, 10%);
}
.Text {
    font-size: .8rem;
    margin: 0 0 10px;
  }
.Values {
    display: flex;
    justify-content: space-between;
    font-size: .75rem;
    margin: 0 0 -10px;
}
.Progress {
    &, &::-webkit-progress-bar {
        width: 100%;
        height: 10px;
        border: none;
        background: #eee;
        border-radius: 10px;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%) inset, 0 2px 10px 0 rgb(0 0 0 / 10%) inset;
        overflow: hidden;
    }
    &::-webkit-progress-value {
        background: #00b978;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%) inset, 0 2px 10px 0 rgb(0 0 0 / 10%) inset;
    }
    &::-moz-progress-bar {
        background: #00b978;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%) inset, 0 2px 10px 0 rgb(0 0 0 / 10%) inset;
    }
}