@import 'styles/mixins/MediaQueries';

.Partners {
    background: none;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    gap: 15px;
    @include ScreenSize(desktop) {
        gap: 30px;
    }
    & > * {
        background: #fff;
        flex: 0 1 calc(50% - (15px * 1 / 2));
        @include ScreenSize(desktop) {
            flex: 0 1 calc(20% - (30px * 4 / 5));
        }
    }
}
.PartnerCard {
    padding: 15px;
    border-radius: 10px;
    aspect-ratio: 16/9;
    box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%), 0 2px 10px 0 rgb(0 0 0 / 10%);
    width: 100%;
    display: block;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}